In [1]:
import pandas as pd

from textblob import TextBlob

In [2]:
df = pd.read_csv('first_week_oct_2015_comments_by_top_400_with_scores.csv')

In [3]:
df.shape

(9970, 14)

In [4]:
df.head()

,id,by,author,time,time_ts,text,parent,deleted,dead,ranking,neg,neu,pos,compound
0,10331981,debacle,debacle,1444055082,2015-10-05 14:24:42+00:00,US is not really scared by BRICS at all. They'...,10331895,NaN,NaN,0,0.000,0.744,0.256,0.7859
1,10343811,sarciszewski,sarciszewski,1444183995,2015-10-07 02:13:15+00:00,"I wasn't really trying to argue, they said the...",10343761,NaN,NaN,0,0.195,0.805,0.000,-0.3947
2,10331538,debacle,debacle,1444050490,2015-10-05 13:08:10+00:00,The examples on the homepage kind of underscor...,10331008,NaN,NaN,12,0.000,0.864,0.136,0.2975
3,10340097,debacle,debacle,1444149186,2015-10-06 16:33:06+00:00,No mention of a critical aspect of a service l...,10339965,NaN,NaN,22,0.214,0.667,0.119,-0.2500
4,10338552,debacle,debacle,1444136786,2015-10-06 13:06:26+00:00,I think some of these points are gross exagger...,10337763,NaN,NaN,38,0.081,0.902,0.017,-0.8233

In [5]:
tb_sentiment = df['text'].apply(lambda text: TextBlob(text).sentiment)

In [6]:
tb_sentiment[0]

Sentiment(polarity=0.15625, subjectivity=0.61875)

In [7]:
df[['tb_polarity', 'tb_subjectivity']] = tb_sentiment.apply(pd.Series)

In [8]:
df.head()

,id,by,author,time,time_ts,text,parent,deleted,dead,ranking,neg,neu,pos,compound,tb_polarity,tb_subjectivity
0,10331981,debacle,debacle,1444055082,2015-10-05 14:24:42+00:00,US is not really scared by BRICS at all. They'...,10331895,NaN,NaN,0,0.000,0.744,0.256,0.7859,0.156250,0.618750
1,10343811,sarciszewski,sarciszewski,1444183995,2015-10-07 02:13:15+00:00,"I wasn't really trying to argue, they said the...",10343761,NaN,NaN,0,0.195,0.805,0.000,-0.3947,0.200000,0.200000
2,10331538,debacle,debacle,1444050490,2015-10-05 13:08:10+00:00,The examples on the homepage kind of underscor...,10331008,NaN,NaN,12,0.000,0.864,0.136,0.2975,0.137500,0.500000
3,10340097,debacle,debacle,1444149186,2015-10-06 16:33:06+00:00,No mention of a critical aspect of a service l...,10339965,NaN,NaN,22,0.214,0.667,0.119,-0.2500,0.000000,0.800000
4,10338552,debacle,debacle,1444136786,2015-10-06 13:06:26+00:00,I think some of these points are gross exagger...,10337763,NaN,NaN,38,0.081,0.902,0.017,-0.8233,-0.019444,0.366667

In [9]:
for text in df.sort_values(by='tb_polarity')['text'].head(20):
    print(text, '\n')

Is there a hardware alternative to throwing a bunch of Mac Pro cylinders or Mac Minis into custom-made racks?  It seems like the density would be  terrible .

Rude/abrupt, yes. But 'horrible' through an email and a tweet seems like a stretch to me.

It's a lesson on Javascript's insane type system viewed through the prism of your impending mortality.

I know I used to work for Dar Al Handasha (who designed that clock tower) and even as a non mulslim I think its a shocking way to treat they holy places.

That all sounds awful.

That is an absolutely pathetic article... Edit: And after reading it closer, it seems to be from someone who doesn't understand how neither reddit nor food work. I wonder why they felt the need to print it.

Nobody took usenet away, people just stopped using it because it became so terrible.

IMHO that looks really awful.

There's also the non-profit-driven evil you need to worry about: https://en.wikipedia.org/wiki/Tuskegee_syphilis_experiment

How is Amy a horrible person?

Coupled with Debt. A very nasty mix indeed.

Has Amazon ever pretended to not be evil?

Siri's voice recognition is awful compared to Google Now and Cortana. It has refused to recognize my accent ever, to the point where it seems almost racist. Not that voice recognition products count as machine learning. Google has a growing neural network,  Apple is not competing in that market at all.

Yeah, imagine an Israeli robot grabbing the arms of a suicide bomber so he can't detonate, horrible.

3% for a debit transaction? that's insane, in the UK it's 0.2%+1p per transaction capped at 50p....

Not quite evil, just a hypocrite.

Siri's voice recognition is awful compared to Google Now and Cortana. It has refused to recognize my accent ever, to the point where it seems almost racist. Not that voice recognition products count as machine learning. Google has a growing neural network,  Apple is not competing in that market at all.

A bike lane  between  traffic and parking lane? Are those people insane?

Don't all ski areas look horrible without snow?

Whoever owns the machines is going to be paying  a lot  of taxes on their outrageous income, though.

In [10]:
df.to_csv('first_week_oct_2015_comments_by_top_400_with_scores_v2.csv', index=False)